body{
  background-color: #474747;
  color:#FFF;
}
.App {
  text-align: center;
}
.taskBg{
  background-color: #555;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align:left;
  font-size: 22px;
  position: relative;
}
.taskNumber{
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}
.taskBg .done .taskText{
  text-decoration: line-through;
  opacity: 0.3;
  flex: 1;
}
/* long text in task state */
.taskBg .taskText{
  flex: 1;
}
.taskBg div{
  display: flex;
  align-items: center;
}
.iconsWrap{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span{
  display: inline-block;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}

.taskBg .iconsWrap span:hover:nth-child(1){
  color: #00ff89;
}
.taskBg .iconsWrap span:hover:nth-child(2){
  color: #eefc27;
}
.taskBg .iconsWrap span:hover:nth-child(3){
  color: #f51111;
}
.mr-20{
  margin-right: 20px;
}
.empty-text{color: #00ff89;}
p{
  margin-top: 100px;
}